<div class="col-md-6 col-md-offset-3">
    <h2>Add Issue</h2>
    <hr>
    <form name="form" ng-submit="add()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.assignee.$error.required }">
            <label for="assignee">Assignee</label>
            <select name="assignee" id="assignee" class="form-control" ng-model="issue.assignee" required>
                <option ng-repeat="user in users" value="{{user.Id}}">{{user.Username}}</option>
            </select>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.duedate.$error.required }">
            <label for="duedate">Due Date</label>
            <input type="date" name="duedate" id="duedate" class="form-control" ng-model="issue.duedate" required />
            <span ng-show="form.duedate.$error.required" class="help-block">Due date is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.priority.$error.required }">
            <label for="priority">Priority</label>
            <select name="priority" id="priority" class="form-control" ng-model="issue.priority" required>
                <option ng-repeat="projectPriority in project.Priorities" value="{{projectPriority.Id}}">{{projectPriority.Name}}</option>
            </select>
            <span ng-show="form.priority.$error.required" class="help-block">Priority is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.labels.$error.required }">
            <label for="labels">Labels</label>
            <input type="text" name="labels" id="labels" class="form-control" ng-model="issue.labelsString" required />
            <span ng-show="form.labels.$error.required" class="help-block">At least one label is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.title.$error.required }">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" class="form-control" ng-model="issue.title" required />
            <span ng-show="form.title.$error.required" class="help-block">Title is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.description.$error.required }">
            <label for="description">Description</label>
            <textarea name="description" style="resize: vertical" id="description" class="form-control" ng-model="issue.description" required></textarea>
            <span ng-show="form.description.$error.required" class="help-block">Description is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-success">Add Issue</button>
        </div>
    </form>
</div>